<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

<p>
  Customer: <%= @invoice.customer %>
</p>
<p>
  Invoice date: <%= @invoice.invoice_date %>
</p>
<p>
  Last pay date: <%= @invoice.last_pay_date %>
</p>

<ul>
<% @invoice.invoice_row.each do |row| %>
<li>
  <%= row.desc %> - <%= row.units %> - <%= row.price %>
</li>
<% end %>
</ul>


<%= link_to 'Save as pdf', pdf_invoice_path(@invoice) %>
