<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

<p>
  Customer: <%= @invoice.customer.name %>
</p>
<p>
  Invoice date: <%= @invoice.invoice_date %>
</p>
<p>
  Last pay date: <%= @invoice.last_pay_date %>
</p>

<table id="invoice-details">
  <thead>
    <tr>
      <th>Text</th>
      <th>Timmar</th>
      <th>À-pris</th>
      <th>Pris exkl. moms</th>
      <th>Momssats</th>
    </tr>
  </thead>
  <tbody>
  <% @invoice.invoice_row.each do |row| %>
  <tr>
    <td>
      <%= row.desc %>
    </td>
    <td>
      <%= row.units %>
    </td>
    <td>
      <%= row.price %>
    </td>
    <td>
      <%= total_price(row.price, row.units) %>
    </td>
    <td>
      25%
    </td>
  </tr>
<% end %>
</tbody>
</table>

<table id="summary">
  <tbody>
    <tr>
      <th>Pris exkl. moms</th>
      <td><%= sum_rows_total(@invoice.invoice_row) %></td>
    </tr>
    <tr>
      <th>Moms (25%)</th>
      <td><%= calc_tax(@invoice.invoice_row) %></td>
    </tr>
    <tr class="total">
      <th>Summa att betala</th>
      <td><%= sum_total(@invoice.invoice_row) %></td>
    </tr>
  </tbody>
 </table>

<%= link_to 'Save as pdf', pdf_invoice_path(@invoice) %>
