<div class="customer">
  <h1>New Customer</h1>

  <%= form_for @customer, url: {action: "create"} do |f| %>

    <%= label_tag(:name, "Name") %>
    <%= f.text_field :name, placeholder: "ACME LTD" %>

    <%= label_tag(:street, "Street") %>
    <%= f.text_field :street, placeholder: "Hagforsgatan 32" %>

    <%= label_tag(:postnr, "Postnr") %>
    <%= f.text_field :postnr, placeholder: "416 76" %>

    <%= label_tag(:city, "City") %>
    <%= f.text_field :city, placeholder: "Gothenburg" %>

    <%= submit_tag("Create") %>

  <% end %>

</div>
